.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  background-color: #d5d2d2; /* Culoare puțin diferită de alb */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbra */
}


.footer span {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer a {
  position: absolute;
  right: 60px;
  font-size: 24px;
  color: inherit; /* Moștenește culoarea pentru a păstra stilul */
  text-decoration: none; /* Elimină sublinierea implicită */
  cursor: pointer; /* Asigură-te că cursorul se schimbă la pointer */
  display: flex; /* Asigură-te că link-ul se dimensionează după conținut */
  align-items: center; /* Centrarea iconiței vertical */
}

.footer a:hover {
  color: #ff6347; /* Culoarea la hover */
}

.footer i {
  pointer-events: none; /* Asigură-te că iconița nu preia evenimentele de click */
}
