@import '../../styles/responsive.scss';



.aboutContainer {
    background-image: url("../../img/try2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 40px 20px;
    -webkit-box-shadow: 5px 7px 29px 19px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 5px 7px 29px 19px rgba(0, 0, 0, 0.12);
    box-shadow: 5px 7px 29px 19px rgba(0, 0, 0, 0.12);
}



.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px;
  







    @include md {
        grid-template-columns: 1fr;
        height: auto;

        .textAbout {
            padding: 10px 15px;
            margin-left: 30px;
        }

        .imgAbout{
            display: flex;
            align-items: center;
            padding: 20px 20px;
            justify-content: center;
        }

        .imgAbout img {
            display: flex;
            max-width: 65%;
            max-height: 85%;
            margin: 0;
        }

        .butonCv {
            display: flex;
            align-self: center;
            justify-content: center;
            margin-top: 20px;
        }

        .butonCv {
            margin-bottom: 0px;
        }
    }

     
    @include lg {
        grid-template-columns:1fr;
        height: auto;

        .textAbout {
            padding: 10px 15px;
            margin-left: 30px;
        }

        .imgAbout img {
            display: flex;
            max-width: 65%;
            max-height: 85%;
        }

        .butonCv {
            display: flex;
            align-self: center;
            justify-content: center;
            margin-top: 30px;
        }

        .butonCv {
            margin-bottom: 0px;
        }
    }

}

.titleAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    color: #ffffff;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    animation: slideUp 1s ease forwards;
}

.imgAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}



.imgAbout img {
    display: flex;
    margin-left: 30px;
    max-width: 70%;
    max-height: 70%;
    margin-bottom: 30px;
    border-radius: 20px;
    animation: slideRight 2s ease forwards;


}


.rightAbout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    gap: 40px;

}

.textAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fc; /* Un fundal ușor pentru contrast */
    border-radius: 10px; /* Colțuri rotunjite pentru un aspect mai plăcut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbră ușoară pentru profunzime */
    max-width: 800px; /* Limitarea lățimii pentru o mai bună lizibilitate */
}

.textAbout p {
    color: #333; /* Culoare de text mai închisă pentru contrast */
    font-size: 18px; /* Dimensiune mai mare pentru text */
    line-height: 1.6; /* Spațiere între linii pentru lizibilitate */
    text-align: justify; /* Justificare pentru un aspect mai formal */
    margin-bottom: 10px; /* Spațiere între paragrafe */
    font-weight: 600;
}

.butonCv {
    display: flex;
    align-self: flex-start;
    padding: 6px 8px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #255d8e;
    margin-bottom:30px;
}

.bt {
    color: white;
    font-weight: 500;
}


.butonCv:hover {
    font-size: 17px;
    background-color: #1f4567;
    transition: font-size 0.5s ease,
    background-color 0.5s ease;
}


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slideUp {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}